header {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .container svg {
  --size: 30px;
  width: var(--size);
  height: var(--size);
}

header .search {
  max-width: 400px;
  width: 100%;
}

header .search input {
  padding: 0.5rem 1rem;
  width: 100%;
}
